

<style>
.row1{
    display: inline;
  }
 #img_div{
   	width: 80%;
   	padding: 5px;
   	margin: 15px auto;
   	border: 1px solid #cbcbcb;
   }
   #img_div:after{
   	content: "";
   	display: block;
   	clear: both;
   }
   img {
  max-width:75px;}
  .border1 {border-style: double;}
  th,td{
    border-style: double;
  }
    </style>
    <html>
        <body>
            
   
<h2>Product FORM </h2>
<div class="row1"><p><a href="product/adding_product.php">  New Product</a></p></div>
<table class="border1" style="width:100%" >
  <% nameid= result.fields[0].name, nameproduct= result.fields[1].name,cateidname= result.fields[2].name,productprice= result.fields[3].name,prodecription= result.fields[4].name%>
<tr class="border1">
<th><%= nameid%></th>
<th><%= nameproduct%></th> 
<th><%= cateidname%></th>
<th><%= productprice%></th>
<th><%= prodecription%></th>
<th></th>
<th></th>
</tr>
<% for( x=0;x <= result.rowCount;x++){%>
<tr> 
    <td><%= result.rows[x].id%> </td> 
    <td><%= result.rows[x].name;%></td>
    <td><%= result.rows[x].category;%></td>
    <td><%= result.rows[x].price;%></td>
    <td><%= result.rows[x].description;%></td>
 </tr>
<%} %>
    </table>
</body>
    </html>
