
<style>
    .row1{
        display: inline;
      }
     #img_div{
           width: 80%;
           padding: 5px;
           margin: 15px auto;
           border: 1px solid #cbcbcb;
       }
       #img_div:after{
           content: "";
           display: block;
           clear: both;
       }
       img {
      max-width:75px;}
      .border1 {border-style: double;}
      th,td{
        border-style: double;
      }
        </style>
        <html>
    <body>
    <h2>Category FORM </h2>
    <div class="row1"><p><a href="/addcategory"> New Category</a></p></div>
    <table class="border1" style="width:100%" >
      <% namecateid= result.fields[0].name, namecategory= result.fields[1].name,decription= result.fields[2].name %>
    <tr class="border1">
    <th><%= namecateid%></th>
    <th><%= namecategory%></th> 
    <th><%= decription%></th>
    <th></th>
    <th></th>
    </tr>
    <% for(var x=0;x < result.rowCount;x++){%>
    <tr> 
        <td><%= result.rows[x].cateid%> </td> 
        <td><%= result.rows[x].catename;%></td>
        <td><%= result.rows[x].catedecs;%></td>
     </tr>
    <%} %>
        </table>
    </body>
        </html>
    